/*********
 * panel *
 *********/

#panel_window {
    background-color: alpha (black, 0.3);   
    background-image: none;
    color: @lightdm_fg_color;
   }

#panel_window .menubar,
#panel_window .menubar .menuitem {
    background-color: alpha (black, 0.3);
    background-image: none;
    border-image: none;
    border-width: 0px;
    color: @lightdm_fg_color;
    text-shadow: none;
    padding: 0px 8px 2px 8px;
   }

#panel_window .menubar .menu {
    background-image: none;
    background-color: alpha (black, 0.3);
    border-image: none;
    border-width: 0px;
    padding: 0px 0px 0px 0px;
}

#panel_window .menubar .menu .menuitem {
 color: @lightdm_fg_color;   
    text-shadow: none;
    background-image: none;
    background-color: alpha (black, 0.3);
    border-image: none;
    border-width: 0px;
    padding: 0px 8px 2px 8px;
}

#panel_window .menubar .menu .menuitem:hover {
    color: @lightdm_fg_color;   
    text-shadow: none;
    background-image: url("darkelements/menubar-item-active.png");
    background-color: alpha (black, 0.3);
    border-image: none;
    border-width: 0px;
    padding: 0px 8px 2px 8px;
}

#panel_window .menubar .menuitem:insensitive {
    color: alpha(white, 0.7);
    background-color: alpha (black, 0.3);
    background-image: none;
    border-color: alpha (black, 0.3);
    border-image: none;
    border-width: 0px;
    padding: 0px 8px 2px 8px;
}


/****************
 * login window *
 ****************/
#login_window,
#shutdown_dialog,
#restart_dialog {
    border-style: none;
    border-radius: 5px;
    background-color: alpha (black, 0.35);
    color: @lightdm_fg_color;

    /* draw border using box-shadow */
    box-shadow: inset 1px 0 shade(@lightdm_fg_color, 1.2),
                inset -1px 0 shade(@lightdm_fg_color, 1.0),
                inset 0 1px shade(@lightdm_fg_color, 1.2),
                inset 0 -1px shade(@lightdm_fg_color, 1.0); 
}


/********************
 * password warning *
 ********************/
#greeter_infobar {
color:  @lightdm_fg_color;
background: transparent;
}
